{% extends 'base.html' %}

{% block content %}
{% load cart %}

<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="http://127.0.0.1:8000/home/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>

				{% for x in cat %}
				<a href="http://127.0.0.1:8000/cat/{{x.id}}/"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{x.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for x in products %}
				<div class="card mx-auto mb-3" id={{x.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{x.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{x.name}}</p>
						<p class="card-text"><b>{{x.price|add_currency}}</b></p>
			
					</div>
					<div class="card-footer p-0 no-gutters">

						{% if x.id|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form  action = "#{{x.id}}"class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{x.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-success border-right">
							</form>
							<div class="text-center col btn btn-success"> {{x.id|qty_in_cart:request.session.cart }} in Cart</div>
							<form action = "#{{x.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{x.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-success border-left">
							</form>
						</div>
						{% endif %}
						{% if not x.id|is_in_cart:request.session.cart %}
						<form action = "#{{x.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{x.id}}'>
							<input type="submit" class="float-right btn btn-success form-control"
								value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
		
			</div>
		</div>
	</div>
</div>



{% endblock %}